:root {
    --grey: #fafafa;
    --font1: "Oswald";
    --font2: "Montserrat";
    --font3: "Roboto";
  }
  
  body {
    display: flex; /* Make the body a flex container */
    justify-content: center; /* Center elements horizontally (optional) */
    align-items: center; /* Center elements vertically (optional) */
    min-height: 100vh; /* Set minimum height for full viewport */
    margin: 0; /* Remove default body margins */
    font-family: var(--font2); /* Set a default font from your root variables */
    margin: auto; /* Set margins to automatically center */
    text-align: center;
  }
  
  #container { /* Style for content container */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally within the container */
  }
  
  #logo {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url(../images/church.jpg);
    width: 160px; /* Adjust width as needed */
    height: 160px; /* Set height equal to width for a square */
    padding: 10px;
  }
  
  #picture {
    width: 380px; /* Adjust width as needed */
    height: 300px; /* Set height equal to width for a square */
    background-color: #f0f0f0; /* Optional background color */
    padding: 10px; /* Add padding if needed for text spacing */
    text-align: center; /* Center text within the square */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url(../images/welcome.gif);
  }

  header {
    display: flex; /* Allow horizontal positioning of elements */
    justify-content: flex-end; /* Align elements to the right */
    padding: 10px;
  }
  
  #pages li {
    margin-bottom: 50px; /* Add margin to the right of each list item */
  }
  
  /* Optional: Remove the default bullet points */
  #pages li {
    list-style: none; /* Remove bullet points */
  }
  
  